node_modules/
package-lock.json
.sourcemaps/main.js.map
platforms/android/.gradle/
.idea/
plugins/ElaWallet/
platforms/android/CordovaLib/build/
platforms/android/app/.externalNativeBuild/
platforms/android/app/build/
platforms/android/app/src/main/assets/www/
platforms/android/build/
platforms/android/gradle/
platforms/android/gradlew
platforms/android/gradlew.bat
.vscode/
platforms/android/.idea/
www

